# Python
backend/__pycache__/
backend/.pytest_cache/
backend/.venv/
tstex_modules/

# Node
frontend/node_modules/
frontend/dist/

# Environment
.env
.env.*
!.env*.example

# IDE/OS
.DS_Store
Thumbs.db

**/*.tsbuildinfo
**/vite.config.d.ts
**/vite.config.js